


* {
    box-sizing: border-box;

}





.row {
    width: 100%;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:0 20px 0 20px;
    margin-top:100px;
   
}


h1 {
    text-align: center;
    /*position:relative;
    margin-bottom:50px;*/
    margin-top:auto;
    margin-bottom:80px;
  
}



p{
    border: 1px solid black;
    margin-top:0px;
    margin-left: 15px;
    margin-right: 10px;
    background-color: grey;
    height:auto;
    padding-left:10px;
    font-style:normal;
    font-size: 18px;
}

.limpiar{
    clear:right;
}



#kito {
    position: relative;
    float: right;
    border-bottom: 1px solid black;
    border-left: 2px solid black;
    height: auto;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 5px;
    font: bold;
    font-size: 24px;
    width:auto;
    clear:left;
    text-align:center;
    font-weight:900;
    padding:0px 20px 0px 20px;
}   

.color1{
    background-color:indianred;
  

}

.color2{
    background-color:firebrick;
    color:white;
   

}

.color3{
    background-color:burlywood;
 
}
/* Media Querys para tres tamaños de pantalla*/

@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    
       
    }

    .margen{
        margin-top:160px;
    }

    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 74.99%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }


/* Eliminar pedazos del parráfo que son indesables*/
    .hiden-all {
        display: none;
    }

    .hiden-3rd {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
     
    }

    .margen{
        margin-top:150px;
    }

    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 74.99%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }

 /* Eliminar pedazos del parráfo que son indesables*/

    .hide-little {
        display: none;
    }

    .hiden-all {
        display: none;
    }
}

@media (max-width: 767px) {
    .col-li-1, .col-li-2, .col-li-3, .col-li-4, .col-li-5, .col-li-6, .col-li-7, .col-li-8, .col-li-9, .col-li-10, .col-li-11, .col-li-12 {
        float:left;

    }

    .col-li-1 {
        width: 8.33%;
    }

    .col-li-2 {
        width: 16.66%;
    }

    .col-li-3 {
        width: 25%;
    }

    .col-li-4 {
        width: 33.33%;
    }

    .col-li-5 {
        width: 41.66%;
    }

    .col-li-6 {
        width: 50%;
    }

    .col-li-7 {
        width: 58.33%;
    }

    .col-li-8 {
        width: 66.66%;
    }

    .col-li-9 {
        width: 74.99%;
    }

    .col-li-10 {
        width: 83.33%;
    }

    .col-li-11 {
        width: 91.66%;
    }

    .col-li-12 {
        width: 100%;
    }
 /* Eliminar pedazos del parráfo que son indesables*/

    .hiden-all {
        display: none;
    }

    .hiden-3rd {
        display: none;
    }
}
